html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 60px 15px 0;
}

.sortable {
  cursor: pointer;
  position: relative;
}

.sortable::before, .sortable::after {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  border-top: 2px #888 solid;
  border-right: 2px #888 solid;
  right: 10px;
  top: 50%;
}

.sortable::before {
  transform: translateY(-8px) rotate(-45deg);
}
.sortable::after {
  transform: translateY(2px) rotate(135deg);
}
